// === CLIENT STARTS ===

#client{
    background-color: $bkBlue;
    padding: 1px 0 40px 0;
}


.client-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 100px;
    

        .client-container{
        width: calc(33.33% - (40px / 3));
        padding-right: 50px;
        }

        .client-experience{
            margin: 0 20px;
        }
}

.client-container{
    position: relative;
    z-index: 10;
        img{
            float: left;
            padding: 0 30px 0  0 ;
            position: relative;
            z-index: 30;
            
        }

        h4{
            position: relative;
            z-index: 40;
        }
}

.client-container p{
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-weight: $light;
    padding-left: 60px;
    position: relative;
    z-index: 20;
}


.circle{
    content:'';
    width: 200px;
    height: 200px;
    background-color: #fafbfd;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: -45px;
    left: -30px;
}

// === CLIENT ENDS ===