// === COURSES STARTS ===
// --- START Courses Title ---
#courses{
    margin-bottom: 100px;
}

.section-title{
    text-align: center;
    margin: 100px 0 50px 0;
    text-transform: uppercase;
    h3{
        font-size: 1.802rem;
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: 3.6rem;
        margin:10px 0 25px 0;
    }
  
    .book-line{
        border-top: 1px solid $accentColor;
        width: 100px;
        margin: 0 auto;
     
    }
        img{
            position: relative;
            top: -15px;
            background: white;
            padding: 0 10px;

        }
}
// --- END Courses Title ---


// --- START Courses Nav ---
.courses-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: $light;
    justify-content: center;
    color: inherit;
    margin: 0 0 50px 0;
        li{
                a{
                    text-decoration: none;
                    &:not(last-of-type){
                        margin-right: 50px;
                    }
                    &:hover{
                        color: $accentColor;
                    }
                    &:focus{
                        color: $accentColor;
                    }
                    &:active{
                        position: relative;
                        bottom: -2px;
                        right: -2px;
                    }
                }
        }
}
// --- END Courses Nav ---

    

// --- START Courses Main ---
.course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .course{
        width: calc(25% - (60px / 4));
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
        min-width: 258px;
        
        img{
            width: 100%;
            display: block;
        }
    }
}

.course-text-block{
        padding: 10px;
        
        .course-title{
            font-size: 1.8rem;
            font-weight: $bold;
            margin: 0;
            min-height: 45px;
        }
        .profile-photo{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #b7b7b7;
            margin: 20px 20px 0 0 ;
            float: left;
        }
}
// --- END Courses Main ---
// === COURSES ENDS ===

.name-block{
    float: left;
    .name{
        font-size: 1.4rem;
        margin-bottom: 0;
        margin-top: 20px;
    }
    p + p{
        color: $accentColor;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-top: 5px;
    }
}

.course-footer{
    border-top: 1px solid #e1e1e1;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
 
    div{
        width: 80%;
        p{
            float: left;
            margin-right: 15px;
            color: #666666;
        }
        
    }
    .free{
        color: $accentColor;
    }
}

.crowd::before{
    content:"\f0c0";
    font-family: "FontAwesome";
    color: #b7b7b7;  
    padding-right: 10px;

}

.chat::before{
    content: "\f086";
    font-family: "FontAwesome";
    color: #b7b7b7;  
    padding-right: 10px;     
}