// === HEADER STARTS ===
// --- START Contact Bar ---
.contact-bar{
    background-color: #252525;
    color: white;  
    font-weight: $light;  
    padding: 20px 0;
    font-size: 1.2rem;
}

.contact-text, .logo, .login{
    width: 33.33%;
    float: left;
}

.contact-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.contact-text{
        p{
            padding-right: 40px;
        }
}


.contact-text{
        svg{
            color: $accentColor;
            margin-right: 10px;
        }
}

.contact-bar{
        .logo{
            text-align: center;
        }
}


.login p{
    margin: 0;
    transition: all 0.2s;
    cursor: pointer;
        &:hover{
        color: $accentColor;
        } 
}


.login a + a{
    border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 15px;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    min-height: 40px;
}

// --- END Contact bar ---


// --- START nav bar ---
.main-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: $bold;
    justify-content: center;
    
}

.main-nav {
    padding: 0;
    li{
        transition: all 0.2s;
        
        a{
            text-decoration: none;
            color: inherit;
            padding-right: 50px;
        }
        
        &:last-child{
            margin-left: 25px;
        }

        &:hover{
            color: $accentColor;
            cursor: pointer;
        }
        &:focus{
            color: $accentColor;
             cursor: pointer;
        }
        &:active{
            position: relative;
            bottom: -2px;
            right: -2px;
        }

    }
}

// --- END nav bar ---
// === HEADER ENDS ===


// === HOME PAGE STARTS ===
header {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('/assets/hero-image.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.header-text-block{
    width: 100%;
    padding: 90px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h1{
            color: #242c42;
            font-size: 7.2rem;
            // font-size: 10vh;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            text-align: center;
            font-size: 1.8rem;
            background: radial-gradient(#d9dce7cc 30%, transparent 60%);    
        }
        .button-primary{
            margin-top: 50px;
           
                a{
                    @include primaryButton(300px);
                }
                // &:hover{
                //      background-color:#e4dfcb !important;
                // }
        }
}

@media (max-width:922px){
    .contact-text{
            p{
                padding-right: 8px;
            }
    }
    header{
        height: 90vh;
    }

     .main-nav li a{
        padding-right: 35px;
    }
}

@media (max-width:760px){
    .contact-text, .logo, .login{
        width: 100%;
        float: none;
    }

    .login,  .contact-text{
        justify-content: right;
        min-height: 20px;
    }

    .contact-bar .logo {
        text-align: left;
    }

    .main-nav li a{
        padding-right: 30px;
    }
    
    .contact-bar .wrapper{
        display: flex;
        flex-direction: column;
    }

    .contact-text{
        order: 3;
    }

}

@media (max-width:415px){
    .header-text-block h1{
        font-size: 5.2rem;
        // font-size: 8vh;
    }

    .header-text-block{
        padding: 50px 0;   
    }
}