// === HEADER STARTS ===
// --- START Contact Bar ---
.contact-bar{
    background-color: #252525;
    color: white;  
    font-weight: $light;  
    padding: 20px 0;
    font-size: 1.2rem;
    .logo{
        text-align: center;
        }
}


.contact-text, .logo, .login{
    width: 33.33%;
    float: left;
}    

.contact-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        padding-right: 40px;
    }    
    svg{
        color: $accentColor;
        margin-right: 10px;
    }    
}    


.login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: center;
    min-height: 40px;
    p{
        margin: 0;
        transition: all 0.2s;
        cursor: pointer;
            
        &:hover{
            color: $accentColor;
        } 
    }
}



.login a + a{
    border-left: 1px solid white;
    padding-left: 15px;
    margin-left: 15px;
}

// --- END Contact bar ---


// --- START nav bar ---

.burger-bar{
    display: none;
    transition: all 0.5s;
}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: $bold;
    justify-content: center;
    align-content: center;
    padding: 0;
    text-transform: uppercase;

    li{
        transition: all 0.2s;
        
        a{
            text-decoration: none;
            color: inherit;
            padding-right: 50px;
        }
        
        &:last-child{
            margin-left: 25px;
        }

        &:hover{
            color: $accentColor;
            cursor: pointer;
        }
        &:focus{
            color: $accentColor;
             cursor: pointer;
        }
        &:active{
            position: relative;
            bottom: -2px;
            right: -2px;
        }

    }
}

// overlay that opens up when burger bar is clicked
.burgerOverlay{
	display: block;
	position: absolute;
	left: 0;
    right: 0;
	background: white;
    color: $accentColor;
    transition: all 0.3s;
}

.burgerOverlay ul {
    display: flex;
    flex-direction: column;
    margin: 0 80px;
    color: black;
    li{
        margin: 15px 0;
        font-size: 2rem;
    }

}

// this positions the hamburger icon
.burgerOverlay .burger-bar {
    margin: 25px 20px;
    color: $accentColor;
}

// --- END nav bar ---
// === HEADER ENDS ===


// === HOME PAGE STARTS ===
header {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../assets/hero-image.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.header-text-block{
    width: 100%;
    padding: 90px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
        h1{
            color: #242c42;
            font-size: 7.2rem;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            text-align: center;
            font-size: 1.8rem;
            background: radial-gradient(#d9dce7cc 30%, transparent 60%);
            max-width: 850px;
            line-height: 3rem;
        }
        .button-primary{
            margin-top: 50px;
           
                a{
                    @include primaryButton(300px);
                }
                
        }
}


// media quieries

@media (max-width:922px){
    .contact-text{
            p{
                padding-right: 8px;
            }
    }

     .main-nav li a{
        padding-right: 35px;
    }
}

@media (max-width:760px){
    .contact-text, .logo, .login{
        width: 100%;
        float: none;
    }

    .login,  .contact-text{
        justify-content: right;
        min-height: 20px;
    }

    .contact-bar .logo {
        text-align: left;
    }

    .main-nav li a{
        padding-right: 30px;
    }
    
    .contact-bar .wrapper{
        display: flex;
        flex-direction: column;
    }

    .contact-text{
        order: 3;
    }

}

// burger bar for mobile
@media(max-width: 660px){
    .main-nav{
        display: none;
        // visibility: hidden;
    }
    
    .burger-bar{
        display: block;
        font-size: 25px;
    }
    
    .main-nav .menu-show {
        display: flex;
    }
    
    .main-nav .fa-shopping-cart, .main-nav .fa-search{
        display: none;
    }
}

@media (max-width:500px){
    .header-text-block h1{
        font-size: 5.2rem;
    }

    .header-text-block{
        padding: 50px 0;   
    }
}

