
$accentColor:#86bc42;

// gallery / pricing background: #f0f2f7
$bkGrey: #f0f2f7;
// news backgrounds /differents section: #f4f6fa
$bkBlue:#f4f6fa ;

$facebook:#3b5999;
$twitter:#00abf1;
$google: #e12f2f;
$instagram: #865045;

$thin: 100;
$light: 300;
$bold: 700;


@mixin headerPrimary{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
}

@mixin headerSecondry{
    font-size: 1.802rem;
    text-align: center;
}

@mixin primaryButton ($buttonWidth){
    width: $buttonWidth;
    background-color: $accentColor;
    font-weight: $bold;
    font-size: 1.4rem;
    color: white;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    transition: all 1s;
    &:hover{
        border: 2px solid white;
        background-color: #242c42;;
    }
    &:focus{
        border: 2px solid white;
        background-color: #242c42;;
    }
    &:active{
       position: relative;
        bottom: -2px;
        right: -2px;
    }

}


// sass notes:
//Make the file.
//Save the file.
//Delete the css file.
//Import the file in main.


// header: #252525;
// main footer:#252525;

// diff circles: #fafbfd

// profile circle: #b7b7b7

// PLUS ICON + :#363636

