
$accentColor:#86bc42;

// gallery / pricing background: #f0f2f7
$bkGrey: #f0f2f7;
// news /CLIENT section: #f4f6fa
$bkBlue:#f4f6fa;

$facebook:#3b5999;
$twitter:#00abf1;
$google: #e12f2f;
$instagram: #865045;

$thin: 100;
$light: 300;
$bold: 700;


@mixin headerPrimary{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
}

@mixin headerSecondry{
    font-size: 1.802rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

@mixin primaryButton ($buttonWidth){
    width: $buttonWidth;
    background-color: $accentColor;
    font-weight: $bold;
    font-size: 1.4rem;
    color: white;
    padding: 13px 25px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    transition: all 1s;
    &:hover{
        border: 2px solid white;
        background-color: #242c42;;
    }
    &:focus{
        border: 2px solid white;
        background-color: #242c42;;
    }
    &:active{
       position: relative;
        bottom: -2px;
        right: -2px;
    }

}



