article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contact-bar {
  background-color: #252525;
  color: white;
  font-weight: 300;
  padding: 20px 0;
  font-size: 1.2rem; }

.contact-text, .logo, .login {
  width: 33.33%;
  float: left; }

.contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-text p {
  padding-right: 40px; }

.contact-text svg {
  color: #86bc42;
  margin-right: 10px; }

.contact-bar .logo {
  text-align: center; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.login p {
  padding-left: 15px;
  margin-left: 15px; }

.login p + p {
  border-left: 1px solid white; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-nav li {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .main-nav li a {
    text-decoration: none;
    color: inherit;
    padding-right: 50px; }
  .main-nav li:last-child {
    margin-left: 25px; }
  .main-nav li:hover {
    color: #86bc42; }
  .main-nav li:focus {
    color: #86bc42; }
  .main-nav li:active {
    position: relative;
    bottom: -2px;
    right: -2px; }

header {
  background-image: url("/assets/hero-image.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; }

.header-text-block {
  width: 100%;
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-text-block h1 {
    color: #242c42;
    font-size: 7.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
  .header-text-block p {
    text-align: center;
    font-size: 1.8rem;
    background: -webkit-radial-gradient(#d9dce7cc 30%, transparent 60%);
    background: -o-radial-gradient(#d9dce7cc 30%, transparent 60%);
    background: radial-gradient(#d9dce7cc 30%, transparent 60%); }
  .header-text-block .button-primary {
    margin-top: 50px; }
    .header-text-block .button-primary a {
      width: 300px;
      background-color: #86bc42;
      font-weight: 700;
      font-size: 1.4rem;
      color: white;
      padding: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2rem; }

.section-title {
  text-align: center;
  margin: 100px 0 50px 0;
  text-transform: uppercase; }
  .section-title h3 {
    font-size: 1.802rem;
    margin: 0;
    padding: 0; }
  .section-title h2 {
    font-size: 3.6rem;
    margin: 10px 0 25px 0; }

.courses-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 300;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit;
  margin-bottom: 50px; }
  .courses-nav li a {
    text-decoration: none; }
    .courses-nav li a:not(last-of-type) {
      margin-right: 50px; }
    .courses-nav li a:hover {
      color: #86bc42; }
    .courses-nav li a:focus {
      color: #86bc42; }
    .courses-nav li a:active {
      position: relative;
      bottom: -2px;
      right: -2px; }

.course-container .course {
  width: calc(25% - 20px);
  float: left;
  border: 1px solid grey;
  margin-right: 10px; }
  .course-container .course .course-text-block {
    padding: 10px; }
    .course-container .course .course-text-block img {
      width: 100%;
      display: block; }
    .course-container .course .course-text-block .course-title {
      font-size: 1.8rem;
      font-weight: 700; }
    .course-container .course .course-text-block .profile-photo {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: grey; }
    .course-container .course .course-text-block .name {
      font-size: 1.4rem; }
    .course-container .course .course-text-block .profile-link {
      color: #86bc42;
      text-transform: uppercase;
      font-size: 1.2rem; }

html {
  font-size: 62.5%;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.wrapper {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto; }
