@import "components/normalize";
@import "components/theme";
@import "components/home";
@import "components/courses";


html{
    font-size: 62.5%;
    font-family: "raleway", sans-serif;
    font-weight: 400;
}

.wrapper{
    max-width: 1170px;
    width: 95%;
    margin: 0 auto;
}


// === GALLERY STARTS ===
// --- START gallery Title ---
// --- END gallery Title ---
// --- START gallery images ---
// --- END gallery images ---
// === GALLERY ENDS ===

// === NEWS STARTS ===
// --- START News Title ---
// --- END News Title ---
// --- START news Main ---
// Section Digital
// Section marketing
// ection education
// --- END news Main ---
// === NEWS ENDS ===

// === CLIENT STARTS ===
// --- START Client Title ---
// --- END Client Title ---
// --- START Client main ---
// --- END Client main ---
// === CLIENT ENDS ===

// === PRICING STARTS ===
// --- START Pricing Title ---
// --- END Pricing Title ---
// --- START Pricing main ---
// --- END Pricing main ---
// === PRICING ENDS ===
