html{
    font-size: 62.5%;
    font-family: "raleway", sans-serif;
    font-weight: 400;
}

.wrapper{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
}

@import "components/_normalize.scss";
@import "components/_theme.scss";
@import "components/_home.scss";
@import "components/_courses.scss";
@import "components/_gallery.scss";
@import "components/_news.scss";
@import "components/_client.scss";
@import "components/_pricing.scss";
@import "components/_footer.scss";








