html {
  font-size: 62.5%;
  font-family: "raleway", sans-serif;
  font-weight: 400; }

.wrapper {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto; }

body {
  font-family: raleway; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.contact-bar {
  background-color: #252525;
  color: white;
  font-weight: 300;
  padding: 20px 0;
  font-size: 1.2rem; }
  .contact-bar .logo {
    text-align: center; }

.contact-text, .logo, .login {
  width: 33.33%;
  float: left; }

.contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-text p {
    padding-right: 40px; }
  .contact-text svg {
    color: #86bc42;
    margin-right: 10px; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 40px; }
  .login p {
    margin: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer; }
    .login p:hover {
      color: #86bc42; }

.login a + a {
  border-left: 1px solid white;
  padding-left: 15px;
  margin-left: 15px; }

.burger-bar {
  display: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 0;
  text-transform: uppercase; }
  .main-nav li {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .main-nav li a {
      text-decoration: none;
      color: inherit;
      padding-right: 50px; }
    .main-nav li:last-child {
      margin-left: 25px; }
    .main-nav li:hover {
      color: #86bc42;
      cursor: pointer; }
    .main-nav li:focus {
      color: #86bc42;
      cursor: pointer; }
    .main-nav li:active {
      position: relative;
      bottom: -2px;
      right: -2px; }

.burgerOverlay {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: white;
  color: #86bc42; }

.burgerOverlay ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 50px;
  color: black; }
  .burgerOverlay ul li {
    margin: 10px 0; }

.burgerOverlay .burger-bar {
  margin: 25px 20px;
  color: #86bc42; }

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("/assets/hero-image.jpg");
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/hero-image.jpg");
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/hero-image.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/hero-image.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; }

.header-text-block {
  width: 100%;
  padding: 90px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-text-block h1 {
    color: #242c42;
    font-size: 7.2rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase; }
  .header-text-block p {
    text-align: center;
    font-size: 1.8rem;
    background: -webkit-radial-gradient(#d9dce7cc 30%, transparent 60%);
    background: -o-radial-gradient(#d9dce7cc 30%, transparent 60%);
    background: radial-gradient(#d9dce7cc 30%, transparent 60%);
    max-width: 850px;
    line-height: 3rem; }
  .header-text-block .button-primary {
    margin-top: 50px; }
    .header-text-block .button-primary a {
      width: 300px;
      background-color: #86bc42;
      font-weight: 700;
      font-size: 1.4rem;
      color: white;
      padding: 13px 25px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.2rem;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .header-text-block .button-primary a:hover {
        border: 2px solid white;
        background-color: #242c42; }
      .header-text-block .button-primary a:focus {
        border: 2px solid white;
        background-color: #242c42; }
      .header-text-block .button-primary a:active {
        position: relative;
        bottom: -2px;
        right: -2px; }

@media (max-width: 922px) {
  .contact-text p {
    padding-right: 8px; }
  .main-nav li a {
    padding-right: 35px; } }

@media (max-width: 760px) {
  .contact-text, .logo, .login {
    width: 100%;
    float: none; }
  .login, .contact-text {
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    min-height: 20px; }
  .contact-bar .logo {
    text-align: left; }
  .main-nav li a {
    padding-right: 30px; }
  .contact-bar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-text {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; } }

@media (max-width: 660px) {
  .main-nav {
    display: none; }
  .burger-bar {
    display: block;
    font-size: 25px; }
  .main-nav .menu-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav .fa-shopping-cart, .main-nav .fa-search {
    display: none; } }

@media (max-width: 500px) {
  .header-text-block h1 {
    font-size: 5.2rem; }
  .header-text-block {
    padding: 50px 0; } }

#courses {
  margin-bottom: 100px; }

.section-title {
  text-align: center;
  margin: 100px 0 50px 0;
  text-transform: uppercase; }
  .section-title h3 {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0; }
  .section-title h2 {
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 25px 0; }
  .section-title .book-line {
    border-top: 1px solid #86bc42;
    width: 100px;
    margin: 0 auto; }
  .section-title img {
    position: relative;
    top: -15px;
    background: white;
    padding: 0 10px; }

.courses-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 300;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit;
  margin: 0 0 50px 0; }
  .courses-nav li {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .courses-nav li a {
      text-decoration: none; }
      .courses-nav li a:not(last-of-type) {
        margin-right: 50px; }
      .courses-nav li a:hover {
        color: #86bc42;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        border-bottom: 1px solid #86bc42; }
      .courses-nav li a:focus {
        color: #86bc42; }
      .courses-nav li a:active {
        position: relative;
        bottom: -2px;
        right: -2px; }

.hamburger {
  display: none; }

.course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .course-container .course {
    width: calc(25% - (60px / 4));
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    min-width: 258px; }
    .course-container .course img {
      width: 100%;
      display: block; }

.course-text-block {
  padding: 10px; }
  .course-text-block .course-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
    min-height: 45px; }
  .course-text-block .profile-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #b7b7b7;
    margin: 20px 20px 0 0;
    float: left; }

.name-block {
  float: left; }
  .name-block .name {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative; }
  .name-block p + a {
    color: #86bc42;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer; }
  .name-block a:hover {
    text-decoration: underline; }

.course-footer {
  border-top: 1px solid #e1e1e1;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.4rem;
  width: 100%; }
  .course-footer div {
    width: 80%; }
    .course-footer div p {
      float: left;
      margin-right: 15px;
      color: #666666; }
  .course-footer .free {
    color: #86bc42; }

.crowd::before {
  content: "\f0c0";
  font-family: "FontAwesome";
  color: #b7b7b7;
  padding-right: 10px; }

.chat::before {
  content: "\f086";
  font-family: "FontAwesome";
  color: #b7b7b7;
  padding-right: 10px; }

@media (max-width: 1162px) {
  .course-container .course {
    width: calc(50% - (60px / 4)); } }

@media (max-width: 600px) {
  .course-container .course {
    width: calc(80% - (60px / 4));
    margin: 10px auto; }
  .courses-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .courses-nav li a:not(last-of-type) {
    margin-right: 30px;
    line-height: 2.5rem; }
  .name-block a {
    text-decoration: underline; }
    .name-block a:active {
      color: black; } }

@media (max-width: 500px) {
  .course-container .course {
    width: 100%;
    margin: 10px auto; } }

#gallery {
  background-color: #f0f2f7;
  padding: 1px 0 40px 0; }

.gallery-book-line img {
  background-color: #f0f2f7; }

.gallery-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0; }
  .gallery-container li {
    margin-bottom: 20px;
    width: calc(33.33% - (40px / 3));
    position: relative; }
    .gallery-container li img {
      display: block;
      width: 100%; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0; }
  .overlay svg {
    font-size: 30px;
    color: #363636; }

.gallery-image:hover .overlay,
.gallery-image:focus .overlay
.gallery-image:active .overlay {
  visibility: visible;
  opacity: 1;
  cursor: pointer; }

@media (max-width: 770px) {
  .gallery-container li {
    width: calc(50% - (40px / 3)); } }

@media (max-width: 550px) {
  .gallery-container li {
    width: 100%; } }

.news-container {
  width: 100%;
  background-color: #f4f6fa;
  margin-bottom: 80px; }
  .news-container img {
    display: block;
    width: calc(50% - 50px);
    margin-right: 50px;
    float: left;
    position: relative;
    top: -30px;
    right: -35px; }
  .news-container .news-text {
    width: 50%;
    height: 453px;
    padding: 42px 20px;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.news-container:hover {
  -webkit-box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78);
  -moz-box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78);
  box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78); }

h4 {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 10px 0 20px 0; }

.news-content .news-date {
  font-size: 1.2rem;
  font-weight: 300; }
  .news-content .news-date p {
    margin: 0 0 5px 0;
    float: left; }
  .news-content .news-date p + p {
    border-left: 1px solid black;
    padding-left: 15px;
    margin-left: 15px; }

.news-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300; }
  .news-social p {
    margin: 0 0 20px 0; }

.news-description {
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  font-size: 1.2rem; }

.learn-button a {
  width: 150px;
  background-color: #86bc42;
  font-weight: 700;
  font-size: 1.4rem;
  color: white;
  padding: 13px 25px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .learn-button a:hover {
    border: 2px solid white;
    background-color: #242c42; }
  .learn-button a:focus {
    border: 2px solid white;
    background-color: #242c42; }
  .learn-button a:active {
    position: relative;
    bottom: -2px;
    right: -2px; }

.news-user::before {
  content: "\f007";
  font-family: "FontAwesome";
  padding-right: 5px; }

.news-social p + p::before {
  content: "\f086";
  font-family: "FontAwesome";
  padding-right: 5px;
  margin-left: 10px; }

@media (max-width: 1024px) {
  .news-container .news-text {
    height: 400px; } }

@media (max-width: 822px) {
  .news-container .news-text {
    height: 430px; } }

@media (max-width: 766px) {
  .news-container .news-text {
    height: 450px; } }

@media (max-width: 696px) {
  .news-container .news-text {
    width: 100%;
    height: 360px;
    padding: 0px 20px 42px 20px; }
  .news-container img {
    width: 80%; }
  .news-container {
    -webkit-box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78);
    -moz-box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78);
    box-shadow: 6px 9px 9px -1px rgba(184, 178, 184, 0.78); } }

@media (max-width: 412px) {
  .news-container .news-text {
    height: 413px; } }

#client {
  background-color: #f4f6fa;
  padding: 1px 0 40px 0; }

.client-book-line img {
  background-color: #f4f6fa; }

.client-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 100px; }
  .client-main .client-container {
    width: calc(33.33% - (40px / 3));
    padding-right: 50px; }
  .client-main .client-experience {
    margin: 0 20px; }

.client-container {
  position: relative;
  z-index: 10; }
  .client-container img {
    float: left;
    padding: 0 30px 0  0;
    position: relative;
    z-index: 30; }
  .client-container h4 {
    position: relative;
    z-index: 40; }

.client-container p {
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
  font-weight: 300;
  padding-left: 60px;
  position: relative;
  z-index: 20; }

.circle {
  content: '';
  width: 200px;
  height: 200px;
  background-color: #fafbfd;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  top: -45px;
  left: -30px; }

@media (max-width: 830px) {
  .client-container p {
    padding-left: 0; }
  .client-container h4 {
    margin: -1px 0 20px 0; }
  .client-container img {
    padding: 0 5px; } }

@media (max-width: 780px) {
  .circle {
    left: -15px; }
  .client-main .client-container {
    padding-right: 0px; } }

@media (max-width: 670px) {
  .client-main .client-container {
    width: 100%;
    padding-right: 0px;
    margin: 63px; } }

@media (max-width: 450px) {
  #client .wrapper .section-title {
    margin: 100px 0 15px 0; }
  #client {
    padding: 1px 0 1px 0; } }

.pricing-container {
  margin-bottom: 80px; }

.pricing-block {
  width: calc(33.33% - (40px / 3));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  float: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-top: -35px; }

.pricing-medium {
  margin-right: 20px;
  margin-left: 20px; }

.pricing-bubble {
  background: #f0f2f7;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  color: black;
  font-size: 3.4rem;
  position: relative;
  margin: 0 auto;
  bottom: -35px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(184, 178, 184, 0.78);
  -moz-box-shadow: 0px 0px 20px 3px rgba(184, 178, 184, 0.78);
  box-shadow: 0px 0px 20px 3px rgba(184, 178, 184, 0.78); }

.pricing-bubble p::before {
  content: "$";
  font-size: 1.4rem;
  color: black;
  position: relative;
  top: -12px;
  left: -3px; }

.pricing-title, .price-button {
  background-color: #f0f2f7; }

.pricing-title {
  padding: 50px 0 20px 0; }
  .pricing-title p {
    margin: 0; }

.price-outline {
  list-style-type: none;
  padding: 30px 0;
  margin: 0;
  line-height: 5rem;
  border-right: 10px solid #f0f2f7;
  border-left: 10px solid #f0f2f7; }

.price-button {
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase; }

.pricing-low,
.pricing-medium,
.pricing-high {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.pricing-low:hover,
.pricing-medium:hover,
.pricing-high:hover,
.pricing-low:focus,
.pricing-medium:focus,
.pricing-high:focus,
.pricing-low:active,
.pricing-medium:active,
.pricing-high:active {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }
  .pricing-low:hover .pricing-bubble,
  .pricing-medium:hover .pricing-bubble,
  .pricing-high:hover .pricing-bubble,
  .pricing-low:focus .pricing-bubble,
  .pricing-medium:focus .pricing-bubble,
  .pricing-high:focus .pricing-bubble,
  .pricing-low:active .pricing-bubble,
  .pricing-medium:active .pricing-bubble,
  .pricing-high:active .pricing-bubble {
    background-color: #86bc42;
    color: white; }
    .pricing-low:hover .pricing-bubble p:before,
    .pricing-medium:hover .pricing-bubble p:before,
    .pricing-high:hover .pricing-bubble p:before,
    .pricing-low:focus .pricing-bubble p:before,
    .pricing-medium:focus .pricing-bubble p:before,
    .pricing-high:focus .pricing-bubble p:before,
    .pricing-low:active .pricing-bubble p:before,
    .pricing-medium:active .pricing-bubble p:before,
    .pricing-high:active .pricing-bubble p:before {
      color: white; }
  .pricing-low:hover .pricing-title,
  .pricing-medium:hover .pricing-title,
  .pricing-high:hover .pricing-title,
  .pricing-low:focus .pricing-title,
  .pricing-medium:focus .pricing-title,
  .pricing-high:focus .pricing-title,
  .pricing-low:active .pricing-title,
  .pricing-medium:active .pricing-title,
  .pricing-high:active .pricing-title {
    background-color: #86bc42;
    color: white; }
  .pricing-low:hover .price-outline,
  .pricing-medium:hover .price-outline,
  .pricing-high:hover .price-outline,
  .pricing-low:focus .price-outline,
  .pricing-medium:focus .price-outline,
  .pricing-high:focus .price-outline,
  .pricing-low:active .price-outline,
  .pricing-medium:active .price-outline,
  .pricing-high:active .price-outline {
    border-right: 10px solid #86bc42;
    border-left: 10px solid #86bc42; }
  .pricing-low:hover .price-button,
  .pricing-medium:hover .price-button,
  .pricing-high:hover .price-button,
  .pricing-low:focus .price-button,
  .pricing-medium:focus .price-button,
  .pricing-high:focus .price-button,
  .pricing-low:active .price-button,
  .pricing-medium:active .price-button,
  .pricing-high:active .price-button {
    background-color: #86bc42;
    color: white; }

@media (max-width: 850px) {
  .pricing-block {
    width: 60%;
    margin: 0 auto;
    float: none; } }

@media (max-width: 770px) {
  .pricing-block {
    width: 65%; }
  #pricing .section-title {
    margin: 100px 0 0px 0; } }

@media (max-width: 550px) {
  .pricing-block {
    width: 85%; } }

#footer {
  background-color: #252525;
  color: white;
  padding: 50px 0;
  font-weight: 300;
  letter-spacing: 0.1rem; }

.footer-block {
  width: calc(33.33% - (80px / 3));
  float: left; }

.footer-courses-contact {
  margin: 0 30px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.footer-mission {
  padding-right: 50px;
  line-height: 2.5rem; }
  .footer-mission p span {
    color: #86bc42; }
  .footer-mission ul {
    list-style-type: none;
    padding: 0; }
    .footer-mission ul li:before {
      content: "\f00c";
      font-family: FontAwesome;
      display: inline-block;
      color: #86bc42;
      margin-right: 10px; }

.footer-course-list {
  list-style-type: none;
  padding: 0;
  line-height: 2.5rem; }
  .footer-course-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s; }
    .footer-course-list li a {
      text-decoration: none;
      color: white;
      display: block; }
    .footer-course-list li:before {
      content: "\f054";
      font-family: FontAwesome;
      color: #86bc42;
      margin-right: -10px;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .footer-course-list li:hover:before {
      visibility: visible;
      opacity: 1;
      margin-right: 10px; }
    .footer-course-list li:hover a {
      color: #86bc42; }

.footer-contact svg {
  color: #86bc42;
  margin-right: 10px;
  float: left; }

.footer-contact .address {
  float: left;
  margin: 0 0 10px 0;
  line-height: 2rem; }

.footer-contact .phone-number:before {
  content: "\f098";
  font-family: FontAwesome;
  color: #86bc42;
  margin-right: 10px; }

.footer-contact .email:before {
  content: "\f0e0";
  font-family: FontAwesome;
  color: #86bc42;
  margin-right: 10px; }

.subscribe-form {
  margin: 20px 0; }
  .subscribe-form .emailSubscribe {
    border-radius: 5px;
    min-width: 230px;
    padding: 10px; }
  .subscribe-form button {
    background-color: #86bc42;
    color: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 50px;
    padding: 12px;
    border-radius: 5px;
    margin-left: 5px; }

.footer-newsletter {
  line-height: 2.5rem; }
  .footer-newsletter .subscribe-form + p {
    margin: 20px 0; }

.footer_social .fa-facebook-square {
  color: #3b5999;
  font-size: 20px;
  margin-right: 20px; }

.footer_social .fa-twitter-square {
  color: #00abf1;
  font-size: 20px;
  margin-right: 20px; }

.footer_social .fa-google-plus-square {
  color: #e12f2f;
  font-size: 20px;
  margin-right: 20px; }

.footer_social .fa-instagram {
  color: #865045;
  font-size: 20px; }

.copyright-bar {
  background-color: black;
  color: white;
  font-size: 1.0rem;
  font-weight: 100; }
  .copyright-bar .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0; }
    .copyright-bar .wrapper span {
      color: #86bc42; }

.footer-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav li {
    margin-right: 30px; }
    .footer-nav li a {
      text-decoration: none;
      color: white; }

.footer-nav li a:hover {
  color: #86bc42;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.footer-nav li a:focus {
  color: #86bc42;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media (max-width: 1060px) {
  .footer-block {
    width: 50%;
    padding-bottom: 10px; }
  .footer-courses-contact {
    margin: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

@media (max-width: 660px) {
  .footer-block {
    width: 100%;
    float: none; }
  .footer-courses-contact {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .footer-mission, .footer-newsletter {
    text-align: center; }
  .footer-mission {
    padding-right: 40px;
    padding-left: 40px; }
  .footer-nav li {
    margin-right: 15px; } }
